@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  main {
    padding: 4rem 2rem;
    max-width: 1400px;
    margin: 0 auto;
    h1 {
      color: #3f515b;
      font-size: 2.5rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    p {
      color: #aaa;
      font-size: 1.25rem;
      margin-bottom: 2rem;
      .generator-button {
        color: #b67278;
        font-weight: 600;
        font-size: inherit;
        transition: 0.4s ease-out;
      }
      :hover {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }

    h4 {
      color: #aaa;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .colours {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
      .colour {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        color: #fff;
        background-color: #1e2f42;
        transition: 0.5s ease-out;
        border: 2px solid transparent;
        height: 8vh;
        input {
          text-align: center;
        }
      }
      .lock-toggle {
        width: 1rem;
        opacity: 0.5;
        transition: 0.4s;
      }
    }

    .lock-toggle.is-locked {
      opacity: 1;
    }

    @include pad {
      .colours {
        grid-template-columns: repeat(2, 1fr);
        .colour {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 25vh;
          input {
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
    @include pc {
      .colours {
        grid-template-columns: repeat(6, 1fr);
        .colour {
          height: 60vh;
        }
      }
    }
  }
}

.colour.copied {
  border: 2px solid #b67278;
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  color: inherit;
}

button {
  user-select: none;
  cursor: pointer;
}
